/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* @font-face {
	font-family: Glamora;
	src: url("Glamora.otf");
} */

/* GLOBAL */

* {
	margin: 0;
	padding: 0;
}
/* space */

.space {
	width: 100%;
	height: 2000px;
    /* background-color: antiquewhite; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: aqua;   */
}
.arrow {
	font-size: 10rem;
	color: black;
}

.movCollection {
	width: 100%;
	height: 7500px;
	background-color: #AEB8FE;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.containMov {
	width: 100%;
	height: 930px;
	background-color: #27187E;
	border-radius: 35% 40% 32% 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containMov1 {
	width: 100%;
	height: 900px;
	background-color: #fbb564;
	border-radius: 50% 70% 50% 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.evenOut {
	width: 840px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: #AEB8FE; */
}



.containMov1 > .spdr {
	width: 100%;
	display: flex;
	border-radius: 95% 40% 100% 40%;
	flex-wrap: wrap;
	justify-content: center;
	
}

p {
	font-size: 100px;
	font-family: Glamora;
	color: #F1F2F6;
	text-align: center;
}

.p1 {
	font-size: 100px;
	font-family: Glamora;
	color: rgb(54, 28, 28);
	text-align: center;
}


@media screen and (max-width: 768px) {
	.evenOut {
		width: 100%;
	}

	p {
		font-size: 50px;
		
	}

	.p1 {
		font-size: 50px;
		
	}

	.containMov1 {
		border-radius: 0;
		justify-content: space-around;
	}

	.containMov {
		border-radius: 0;
		justify-content: space-around;
	}

	iframe {
		width: 450px;
		height: 316px;
	}
}